/salida/*.txt
/node_modules

# production
/build

# misc
.DS_Store
.config.local
.env.development.local
.env
.config.developer
package.json.developer
package.json.local
.env.test.local
.env.production.local